
@{
    ViewBag.Title = "AddingData";
}

<h2>Our building blocks are basically in place now lets start to put them together - adding data</h2>
<br />
<div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
    <br />
    <h4>I think the best place to start is with creating a dojo class and looking at the table we've created - I see we'll need to have a mentor first so... </h4>
    <p>
        To help us along our way lets use the entity framework - to build out a mentor scaffold allowing us to add them in via the web...
        <br />to do this we right click on our "controllers" folder and select "new scafdolded item"  -> then we go for "MVC controller with views using entity framework" 
        click ok and  
    </p>
</div>
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <br /><a href="/Tutorial/Attendance"><< attendance table</a>  ||  <a href="/Tutorial/EntityFramework">entity relationship framework >></a>
</div>