
@{
    ViewBag.Title = "AddingStyle";
}

<h2>Auto generation of code is fantastic - but as you can see if you look at it - its fairly vanilla and our site is lacking a bit of <b>"style"</b></h2>
<br />

<div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
    <h4>To start implementing style in our site we are entering the land of the "front-end"</h4>
    <br />
    <p>
        The work we've done so far building out our database and implementing the entity framework - would normally be considered back-end coding work - getting
        your hands dirty with the database and plumbing the application together. The bit of work around improving the look and feel of the site and possibly
        implementing user-friendly interfaces is normally a separate type of work which can be divided up in a development team or even handed over to a dedicated
        front-end design and GUI (graphical user interface) team. Just to clarify this is not really my bag so I tend to keep it fairly simple - and also if you're 
        like me and find it hard to get things looking just right - it can suck out lots and lots of time.
    </p>
    <p>
        To make things a bit more manageable - I've built this project as an MVC bootstrap project - this automatically builds in the bootstrap library and it uses 
        a code standard called MVC - or model view controller. This is a way of organising our web project into the components we talked about front-end and back-end
        with the model - normally coming from the database and the view being our frontend and the controller acting as a marshall to decide what model view should be 
        sent back to our browser when requests come in.
         <br /><br />

        <img src="~/Content/img/ASPBootsrapMVC.png" alt="ASP MVC Bootstrap Project" />
        <br />
        <br />
        <b>Another handy place to get code front-end code is bootsnip which has lots of code snippets using bootstrap to create nenus, login pages etc. - click <a href="www.bootsnip.com">here!</a></b>
        <br /><br />
        <img src="~/Content/img/Bootsnip.png" alt="Bootsnip code snippet site" />
        <br />
        <br />
        <b>If you want to see some good tutorials on using bootstrap - there is lots of good stuff on the bootstrap site - <a href="www.getbootstrap.com">here!</a></b>
        <br /><br />
        <img src="~/Content/img/GetBootstrap.png" alt="Get Bootstrap" />
    </p>
</div>
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <br /><a href="/Tutorial/InterfaceCleanUp"><< interface clean-up</a>  || <a href="/Tutorial/WebDeploy">using web deploy to publish site >></a>
</div>