@{
    ViewBag.Title = "Home Page";
}

<h1>Dojo DB - what it might look like...</h1><br />

<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:ninja</h4>
    <p>We need a table stucture that would define the ninjas... <code>class,</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:badges</h4>
    <p>We need a table stucture that would define the badges... <code>id, name, description, stepId, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:badge_steps</h4>
    <p>We need a table structure that would define the steps needed to get a badge... <code>badgeId, stepId, stepNo, stepDesc, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:badge_steps_achieved</h4>
    <p>We need a table structure that would define the stepsAchieved by ninjas<code>id, stepId, ninjaId, date</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:dojo_class</h4>
    <p>We need a table structure that would define attendance <code>id, class-desc, mentor-id, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:mentor</h4>
    <p>We need a table structure that would define attendance <code>id, class-desc, mentor-id, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:ninja_attendance</h4>
    <p>We need a table structure that would define attendance <code>id, class-desc, mentor-id, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:mentor_attendance</h4>
    <p>We need a table structure that would define attendance <code>id, class-desc, mentor-id, active</code></p>
</div>
<br />
<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <h4>table:ninjaContact</h4>
    <p>We need a table structure that would define contact info for the ninjas - this would need security <code>ninjaId, class-desc, mentor-id, active</code></p>
</div>

<div class="bs-callout bs-callout-danger" id="callout-navbar-fixed-bottom-padding">
    <br /><a href="/Tutorial/CreatingTables">Creating SQL Tables >></a>
</div>