@{
    ViewBag.Title = "EntityFramework";
}

<h2>So we've done the hard work in the DB now to start building our application - we're going to use Microsoft Entity Framework to help...</h2>
<br />

<div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
    <h4>The entity framework is a code library that will autogenerate objects or entities based on the design of our database - its useful for reducing the amount of work our fingers need to do!!!</h4>
    <p>
        To add it in we need to right-click on our project and choose to add in a "new item" -> then select "ADO.NET Entity Data Model"... here are some pics below:
        <br /><br />
        <img src="~/Content/img/AddEntityFramework.png" alt="select a new item"/>
        <br />
        <br />
        Select "ADO.NET Entity Data Model" and then type ninjaModel
        <img src="~/Content/img/ADO.NETEntityDataModel.png" alt="select ADO.NET Entity Data Model" />
    </p>
    <p>There is a very short straight forward video on this process available at <a href="https://msdn.microsoft.com/en-us/data/jj591506">microsoft MSDN site</a></p>
</div>